name: Check if workflow is enabled to run in the current org

on:
  workflow_call:
    outputs:
      workflow_enabled:
        description: Equal to 'true' if caller is the fork in the release org
        value: ${{ jobs.job_check_env_context.outputs.workflow_enabled }}

concurrency:
  group: ${{ github.repository }}-${{ github.workflow }}-${{ github.ref }}

jobs:
  job_check_env_context:
      runs-on: ubuntu-latest
      outputs:
        workflow_enabled: ${{ steps.workflow_enabled_step.outputs.workflow_enabled }}
      steps:
        - name: The workflow location check has not passed
          id: warning_org
          if: github.repository_owner != vars.RELEASE_ORG
          run: |
            echo -n "::warning title=Skipping the workflow::"
            echo "This workflow run be stopped because this run is performed from a non-release GH org"

        - name: The killswitch check has not passed
          id: warning_killswitch
          if: vars.RELEASES_ON != 'true'
          run: |
            echo -n "::warning title=Skipping the workflow::"
            echo "This workflow run be stopped because the release killswitch for this repo/org is not set to 'true'"

        - name: The release environment checks have been passed, setting the green light to other jobs
          id: workflow_enabled_step
          if: (github.repository_owner == vars.RELEASE_ORG && vars.RELEASES_ON == 'true')
          run: echo "workflow_enabled=true" >> "$GITHUB_OUTPUT"
